a {
  text-decoration: none;
}

.properties td {
  padding: 10px;
}

.properties {
  padding-top: 70px;
}

.show_label {
  font-weight: bold;
  padding-right: 20px;
}

.delete_button {
  padding: 0;
  color: blue;
  font-size: 1rem;
  background-color: rgb(249, 107, 137);
  background: transparent;
  border: 0;
}

.delete_button:hover {
  cursor: pointer;
}

.prop_form {
  border-bottom: solid 1px;
}

.show_stations {
  border-top: solid 1px;
}
